<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="'Панель управления - ' + ${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Панель управления для сайта - квартиры посуточно в Красноярске" name="description" />
    <meta content="Михаил Евгеньевич" name="author" />
    <!-- App favicon -->
    <link href="/../assets/images/favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Css -->
    <link href="/../assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/../assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark" data-layout="horizontal">
<div id="layout-wrapper">
    <header th:insert="dashboard/header-dashboard :: header"></header>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title-box">
                            <h4 class="font-size-18" th:text="${title}"></h4>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item active" th:text="${descriptions}"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Основная информация</h4>
                                <form th:action="'/dashboard/' + ${homeHeaders.getId()} + '/save'" method="post">
                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Название организации</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getTitle()}" type="text" class="form-control form-mains" name="title" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Подзаголовок</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getSubtitle()}" type="text" class="form-control form-mains" name="subtitle" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Описание</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getDescriptions()}" type="text" class="form-control form-mains" name="descriptions" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Подзаголовок(Снять квартиру)</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getPortfolioSubtitle()}" type="text" class="form-control form-mains" name="portfolioSubtitle" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Описание(Снять квартиру)</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getPortfolioDescriptions()}" type="text" class="form-control form-mains" name="portfolioDescriptions" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Описание(Преимущества)</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getAdvantageDescriptions()}" type="text" class="form-control  form-mains" name="advantageDescriptions" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Адрес</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getAddress()}" type="text" class="form-control form-mains" name="address" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Email адрес</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getEmail()}" type="text" class="form-control form-mains" name="email" disabled required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Котактный номер</label>
                                                <div class="col-sm-9">
                                                    <input th:value="${homeHeaders.getPhoneNumber()}" type="text" class="form-control form-mains" name="phoneNumber" disabled required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="hide-row" class="row" style="display: none" >
                                        <div class="col-sm-6">
                                            <button id="btn-save" class="btn btn-success" type="submit">Сохранить</button>
                                        </div>
                                        <div class="col-sm-6 ">
                                            <div class="float-right d-none d-md-block">
                                                <button id="btn-cancel" type="button" class="btn btn-primary">Отмена</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div id="show-row" class="row align-items-center">
                                    <div class="col-sm-6">
                                        <button id="btn-edit" class="btn btn-success">Редактировать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="card">
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="dashboard/footer-dashboard :: footer"></div>
</div>
<script src="/../assets/js/jquery/jquery.min.js"></script>
<script src="/../assets/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../assets/js/peity/jquery.peity.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(
        function () {
            $('#btn-edit').click(editApartaments);
            $('#btn-cancel').click(cancelApartaments);
            $('#btn-edit-contact').click(editApartamentsContact);
            $('#btn-cancel-contact').click(cancelApartamentsContact);
        }
    )
    function cancelApartaments() {
        $('#show-row').show();
        $('#hide-row').hide();
        $('.form-mains').attr("disabled", "");
    }
    function editApartaments() {
        $('#show-row').hide();
        $('#hide-row').show();
        $('.form-mains').removeAttr("disabled");
    }
    function cancelApartamentsContact() {
        $('#show-row-contact').show();
        $('#hide-row-contact').hide();
        $('.form-contact').attr("disabled", "");
    }
    function editApartamentsContact() {
        $('#show-row-contact').hide();
        $('#hide-row-contact').show();
        $('.form-contact').removeAttr("disabled");
    }

</script>
</body>
</html>