<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title th:text="'Панель управления - ' + ${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Панель управления для сайта - квартиры посуточно в Красноярске" name="description" />
    <meta content="Михаил Евгеньевич" name="author" />
    <!-- App favicon -->
    <link href="/../assets/images/favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Css -->
    <link href="/../assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/../assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>

<body data-topbar="dark" data-layout="horizontal">
<div id="layout-wrapper">
    <header th:insert="dashboard/header-dashboard :: header"></header>
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title-box">
                            <h4 class="font-size-18" th:text="${title}"></h4>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item active" th:text="${descriptions}"></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container" style="align-content: center">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <form th:action="'/dashboard/main/begining/' + ${homeHeaders.getId()} + '/save'" method="post">
                                                <h4 class="card-title mb-4 text-center">Основное</h4>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Название организации</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getTitle()}" type="text" class="form-control form-beginning" name="title" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Подзаголовок</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getSubtitle()}" type="text" class="form-control form-beginning" name="subtitle" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Описание</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getDescriptions()}" type="text" class="form-control form-beginning" name="descriptions" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label  class="col-sm-3 col-form-label">Правила проживания</label>
                                                    <div class="col-sm-9">
                                                        <textarea th:text="${homeHeaders.getRules()}" name="rules" class="form-control form-beginning" disabled required></textarea>
                                                    </div>
                                                </div>
                                                <div id="hide-row-beginning" class="row" style="display: none" >
                                                    <div class="col-sm-6">
                                                        <button id="btn-save-beginning" class="btn btn-success" type="submit">Сохранить</button>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <div class="float-right d-none d-md-block">
                                                            <button id="btn-cancel-beginning" type="button" class="btn btn-primary">Отмена</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div id="show-row-beginning" class="row align-items-center">
                                                <div class="col-sm-6">
                                                    <button id="btn-edit-beginning" class="btn btn-success">Редактировать</button>
                                                </div>
                                            </div><br>

                                            <form th:action="'/dashboard/main/rent/' + ${homeHeaders.getId()} + '/save'" method="post">
                                                <div class="border-top"><br></div>
                                                <h4 class="card-title mb-4 text-center">Снять квартиру</h4>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Подзаголовок</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getPortfolioSubtitle()}" type="text" class="form-control form-rent" name="portfolioSubtitle" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Описание</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getPortfolioDescriptions()}" type="text" class="form-control form-rent" name="portfolioDescriptions" disabled required>
                                                    </div>
                                                </div>
                                                <div id="hide-row-rent" class="row" style="display: none" >
                                                    <div class="col-sm-6">
                                                        <button id="btn-save-rent" class="btn btn-success" type="submit">Сохранить</button>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <div class="float-right d-none d-md-block">
                                                            <button id="btn-cancel-rent" type="button" class="btn btn-primary">Отмена</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div id="show-row-rent" class="row align-items-center">
                                                <div class="col-sm-6">
                                                    <button id="btn-edit-rent" class="btn btn-success">Редактировать</button>
                                                </div>
                                            </div><br>

                                            <div>
                                                <div class="border-top"><br></div>
                                                <h4 class="card-title mb-4 text-center">О компании</h4>
                                                <table class="table table-hover table-centered table-nowrap mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Заголовок</th>
                                                        <th class="text-right" scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="element : ${aboutCompanies}" >
                                                        <th scope="row" th:text="'#' + ${element.getId()}"></th>
                                                        <td th:text="${element.getTitle()}"></td>
                                                        <td class="text-right">
                                                            <a th:href="'/dashboard/main/about/' + ${element.getId()}" class="btn btn-success btn-sm">Редактировать</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div><br>
                                            <div class="row align-items-center">
                                                <div class="col-sm-6">
                                                    <a href="/dashboard/main/about/add" class="btn btn-primary">Добавить блок</a>
                                                </div>
                                            </div><br>

                                            <div>
                                                <div class="border-top"><br></div>
                                                <h4 class="card-title mb-4 text-center">Преимущества</h4>
                                                <table class="table table-hover table-centered table-nowrap mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Заголовок</th>
                                                        <th class="text-right" scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="element : ${advantages}">
                                                        <th scope="row" th:text="'#' + ${element.getId()}"></th>
                                                        <td th:text="${element.getTitle()}"></td>
                                                        <td class="text-right">
                                                            <a th:href="'/dashboard/main/advantage/' + ${element.getId()}" class="btn btn-success btn-sm">Редактировать</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div>
                                                <div class="border-top"><br></div>
                                                <h4 class="card-title mb-4 text-center">Достопримечательности</h4>
                                                <table class="table table-hover table-centered table-nowrap mb-0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Заголовок</th>
                                                        <th class="text-right" scope="col"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="element : ${attractions}" >
                                                        <th scope="row" th:text="'#' + ${element.getId()}"></th>
                                                        <td th:text="${element.getTitle()}"></td>
                                                        <td class="text-right">
                                                            <a th:href="'/dashboard/main/attractions/' + ${element.getId()}" class="btn btn-success btn-sm">Редактировать</a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div><br>
                                            <div class="row align-items-center">
                                                <div class="col-sm-6">
                                                    <a href="/dashboard/main/attractions/add" class="btn btn-primary">Добавить блок</a>
                                                </div>
                                            </div><br>

                                            <form th:action="'/dashboard/main/contact/' + ${homeHeaders.getId()} + '/save'" method="post">
                                                <div class="border-top"><br></div>
                                                <h4 class="card-title mb-4 text-center">Контакты</h4>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Адрес</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getAddress()}" type="text" class="form-control form-contact" name="address" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Email адрес</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getEmail()}" type="email" class="form-control form-contact" name="email" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Котактный номер</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getPhoneNumber()}" type="text" class="form-control form-contact" name="phoneNumber" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Ссылка на WhatsApp</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getWhasApp()}" type="text" class="form-control form-contact" name="whatsApp" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Ссылка на Telegram</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getTelegram()}" type="text" class="form-control form-contact" name="telegram" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Ссылка на Viber</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getViber()}" type="text" class="form-control form-contact" name="viber" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Ссылка на Instagram</label>
                                                    <div class="col-sm-9">
                                                        <input th:value="${homeHeaders.getInstagram()}" type="text" class="form-control form-contact" name="instagram" disabled required>
                                                    </div>
                                                </div>
                                                <div id="hide-row-contact" class="row" style="display: none" >
                                                    <div class="col-sm-6">
                                                        <button id="btn-save-contact" class="btn btn-success" type="submit">Сохранить</button>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <div class="float-right d-none d-md-block">
                                                            <button id="btn-cancel-contact" type="button" class="btn btn-primary">Отмена</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <div id="show-row-contact" class="row align-items-center">
                                                <div class="col-sm-6">
                                                    <button id="btn-edit-contact" class="btn btn-success">Редактировать</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="dashboard/footer-dashboard :: footer"></div>
</div>
<script src="/../assets/js/jquery/jquery.min.js"></script>
<script src="/../assets/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../assets/js/peity/jquery.peity.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(
        function () {
            $('#btn-edit-contact').click(editContact);
            $('#btn-cancel-contact').click(cancelContact);
            $('#btn-edit-advantage').click(editAdvantage);
            $('#btn-cancel-advantage').click(cancelAdvantage);

            $('#btn-edit-rent').click(editRent);
            $('#btn-cancel-rent').click(cancelRent);
            $('#btn-edit-beginning').click(editBeginning);
            $('#btn-cancel-beginning').click(cancelBeginning);
        }
    )
    function cancelContact() {
        $('#show-row-contact').show();
        $('#hide-row-contact').hide();
        $('.form-contact').attr("disabled", "");
    }
    function editContact() {
        $('#show-row-contact').hide();
        $('#hide-row-contact').show();
        $('.form-contact').removeAttr("disabled");
    }
    function cancelAdvantage() {
        $('#show-row-advantage').show();
        $('#hide-row-advantage').hide();
        $('.form-advantage').attr("disabled", "");
    }
    function editAdvantage() {
        $('#show-row-advantage').hide();
        $('#hide-row-advantage').show();
        $('.form-advantage').removeAttr("disabled");
    }
    function cancelRent() {
        $('#show-row-rent').show();
        $('#hide-row-rent').hide();
        $('.form-rent').attr("disabled", "");
    }
    function editRent() {
        $('#show-row-rent').hide();
        $('#hide-row-rent').show();
        $('.form-rent').removeAttr("disabled");
    }
    function cancelBeginning() {
        $('#show-row-beginning').show();
        $('#hide-row-beginning').hide();
        $('.form-beginning').attr("disabled", "");
    }
    function editBeginning() {
        $('#show-row-beginning').hide();
        $('#hide-row-beginning').show();
        $('.form-beginning').removeAttr("disabled");
    }
</script>
</body>
</html>