<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="/css/btn-myst.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3 border-bottom">
        <ul class="nav nav-pills">
            <li class="btn-lerg"><a href="/dashboard/apartaments" class="btn btn-success btn-mrgn active" data-bs-toggle="button" aria-pressed="true">Список квартир</a></li>
            <li class="btn-lerg"><a href="/dashboard/apartaments/add" class="btn btn-success btn-mrgn" data-bs-toggle="button">Добавить квартиру</a></li>
            <li class="btn-lerg"><a href="/dashboard/district/add" class="btn btn-success btn-mrgn" data-bs-toggle="button">Районы</a></li>
            <li class="btn-lerg"><a href="/dashboard/type/add" class="btn btn-success btn-mrgn" data-bs-toggle="button">Типы жилья</a></li>
            <li class="btn-lerg"><a href="/dashboard/class/add" class="btn btn-success btn-mrgn" data-bs-toggle="button">Классы жилья</a></li>
        </ul>
    </header>
</div>
<div class="container mt-5">
    <h5 th:text="${title}"></h5>
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Тип</th>
            <th scope="col">Класс</th>
            <th scope="col">Район</th>
            <th scope="col">Адрес</th>
            <th class="text-right" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="element : ${apartaments}">
            <th scope="row" th:text="'K00' + ${element.getId()}"></th>
            <td th:text="${element.getTitle()}"></td>
            <td th:text="${element.getHousingType().getTitle()}"></td>
            <td th:text="${element.getHousingClass().getTitle()}"></td>
            <td th:text="${element.getDistrict().getTitle()}"></td>
            <td th:text="${element.getAddress()}"></td>
            <td class="text-right">
                <a th:href="'/dashboard/apartaments/' + ${element.getId()}" class="btn btn-success btn-sm">Подробнее</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>