<div th:fragment="header">
    <div id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="/dashboard" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="/../assets/images/logo-sm.png" alt="" height="22">
                                </span>
                        <span class="logo-lg">
                                    <img src="/../assets/images/logo-light.png" alt="" height="18">
                                </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm mr-2 font-size-24 d-lg-none header-item waves-effect waves-light"
                        data-toggle="collapse" data-target="#topnav-menu-content">
                    <i class="mdi mdi-menu"></i>
                </button>

            </div>
            <div class="d-flex">
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="/../assets/images/users/user-4.png"
                             alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline font-size-17 align-middle mr-1"></i> Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topnav">
        <div class="container-fluid">
            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                <div class="collapse navbar-collapse" id="topnav-menu-content">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard/main">
                                <i class="ti-home mr-2"></i>Разделы главной страницы
                            </a>
                        </li>
                        <li class="nav-item dropdown mega-dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-package mr-2"></i>Квартира
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-layout">
                                <a href="/dashboard/apartaments" class="dropdown-item">Список квартир</a>
                                <a href="/dashboard/apartaments/add" class="dropdown-item">Новая квартира</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-harddrives mr-2"></i>Район
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-layout">
                                <a href="/dashboard/district" class="dropdown-item">Список районов</a>
                                <a href="/dashboard/district/add" class="dropdown-item">Новый район</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mega-dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-auth" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-archive mr-2"></i> Тип жилья
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-layout">
                                <a href="/dashboard/type" class="dropdown-item">Список типов жилья</a>
                                <a href="/dashboard/type/add" class="dropdown-item">Новый тип жилья</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown mega-dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-extrapages" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-support mr-2"></i> Класс жилья
                            </a>
                            <div class="dropdown-menu" aria-labelledby="topnav-layout">
                                <a href="/dashboard/classes" class="dropdown-item">Список классов жилья</a>
                                <a href="/dashboard/classes/add" class="dropdown-item">Новый класс жилья</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>