<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Квартиры посуточно недорого Красноярск - Белые росы</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons
        ================================================== -->
    <link rel="shortcut icon" href="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-21-home@2x.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">

    <!-- Stylesheet
        ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!--Анимации-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .badgebox
        {
            opacity: 0;
        }

        .badgebox + .badge
        {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge
        {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */

            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge
        {
            /* Move the check mark back when checked */
            text-indent: 0;
        }
    </style>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top">ВСЕ КВАРТИРЫ</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#portfolio" class="page-scroll">Снять квартиру</a></li>
                <li><a href="#contact" class="page-scroll">СВЯЗАТЬСЯ С НАМИ</a></li>
                <li><a href="/" class="page-scroll"><u>Вернуться на главную</u></a></li>
            </ul>
        </div>
    </div>
</nav>
<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <div class="panel panel-success animate__animated animate__flipInX animate__fast">
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <h6>Район</h6>
                                            <div>
                                                <div class="row">
                                                    <label for="1" class="btn btn-success" style="width: 90%">Взлётка <input type="checkbox" id="1" class="badgebox"><span class="badge">&check;</span></label>
                                                </div><br>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <h6>Тип жилья</h6>
                                            <div>
                                                <div class="row">
                                                    <label for="2" class="btn btn-success" style="width: 90%">1-комната <input type="checkbox" id="2" class="badgebox"><span class="badge">&check;</span></label>
                                                </div><br>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <h6>Класс жилья</h6>
                                            <div>
                                                <div class="row">
                                                    <label for="3" class="btn btn-success" style="width: 90%">Люкс <input type="checkbox" id="3" class="badgebox"><span class="badge">&check;</span></label>
                                                </div><br>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <h6>Цена</h6>
                                            <input type="number" class="form-control" placeholder="от" aria-describedby="basic-addon1"><br>
                                            <input type="number" class="form-control" placeholder="до" >
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <button class="btn btn-primary">Сбросить</button>
                                        <button class="btn btn-success">Показать</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="portfolio">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/"><b>Главная</b></a></li>
            <li class="active">Все квартиры</li>
        </ol>
    </div>
    <div class="container">
        <div class="row">
            <div class="portfolio-items">
                <div class="col-sm-6 col-md-4 col-lg-4 residential">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="/">
                                <div class="hover-text">
                                    <h4>Посмотреть</h4>
                                </div>
                                <img src="/img/portfolio/01-small.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="modal-footer">
                            <b>Адрес</b>
                            <a href="/" class="btn btn-danger">Забронировать</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 commercial">
                    <div class="portfolio-item">
                        <div class="hover-bg"> <a href="/img/portfolio/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
                            <div class="hover-text">
                                <h4>Project Name</h4>
                            </div>
                            <img src="/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section -->
<div id="contact">
    <div class="container">
        <div class="section-title text-center">
            <h2>СВЯЗАТЬСЯ С НАМИ</h2>
            <hr>
        </div>
        <div class="col-md-4">
            <h3>КОНТАКТНАЯ ИНФОРМАЦИЯ</h3>
            <div class="contact-item"> <span>Мы находимся по адресу</span>
                <p>4321 California St,<br>
                    San Francisco, CA 12345</p>
            </div>
            <div class="contact-item"> <span>E-mail адрес</span>
                <p>info@company.com</p>
            </div>
            <div class="contact-item"> <span>Телефон для связи</span>
                <p> +1 123 456 1234</p>
            </div>
        </div>
        <div class="col-md-8">
            <h3>ОСТАВЬТЕ НАМ СООБЩЕНИЕ</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="Имя" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Сообщение" required></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div id="success"></div>
                <button type="submit" class="btn btn-custom btn-lg">Отправить сообщение</button>
            </form>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container text-center">
        <div class="social">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
        <div>
            <p>&copy; aGreen. Все права защищены. Разработано <a href="" rel="nofollow">aGreen</a></p>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/filter.js"></script>
</body>
</html>
