<div th:fragment="footer">
    <div id="footer">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 style="color:#888888;">КОНТАКТНАЯ ИНФОРМАЦИЯ</h3>
                            <div class="contact-item"> <span>Мы находимся по адресу</span>
                                <p th:text="${homeHeaders.getAddress()}"></p>
                            </div>
                            <div class="contact-item"> <span>E-mail адрес</span>
                                <p th:text="${homeHeaders.getEmail()}"></p>
                            </div>
                            <div class="contact-item"> <span>Телефон для связи</span>
                                <p th:text="${homeHeaders.getPhoneNumber()}"></p>
                            </div>
                        </div>
                        <div class="col-sm-6 text-right">
                            <h3 style="color:#888888;">ИНФОРМАЦИЯ</h3>
                            <a href="/" class="contact-item"> <span>Правила проживания</span></a><br>
                            <a href="/" class="contact-item"> <span>Полезная информация</span></a><br>
                            <a href="/" class="contact-item"> <span>Отзывы</span></a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <div class="container text-center">
                    <div class="social">
                        <ul>
                            <li><a th:href="${homeHeaders.getWhasApp()}"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a th:href="${homeHeaders.getTelegram()}"><i class="fa fa-paper-plane"></i></a></li>
                            <li><a th:href="${homeHeaders.getViber()}"><i class="fa fa-phone-square"></i></a></li>
                            <li><a th:href="${homeHeaders.getInstagram()}"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div>
                        <p>&copy; aGreen. Все права защищены. Разработано <a href="" rel="nofollow">aGreen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
