<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Квартиры посуточно в Красноярске - ' + ${homeHeaders.getTitle()}"></title>
    <meta content="Квартиры посуточно в Красноярске" name="description" />
    <meta content="Михаил Евгеньевич" name="author" />

    <link rel="shortcut icon" href="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-21-home@2x.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome/css/font-awesome.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css"  href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="/css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!--Анимации-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
.badgebox
{
opacity: 0;
}

.badgebox + .badge
{
/* Move the check mark away when unchecked */
text-indent: -999999px;
/* Makes the badge's width stay the same checked and unchecked */
width: 27px;
}

.badgebox:focus + .badge
{
/* Set something to make the badge looks focused */
/* This really depends on the application, in my case it was: */

/* Adding a light border */
box-shadow: inset 0px 0px 5px;
/* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
/* Move the check mark back when checked */
text-indent: 0;
}
</style>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top" th:text="${homeHeaders.getTitle()}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#portfolio" class="page-scroll">Снять квартиру</a></li>
                <li><a href="#about" class="page-scroll">О Нас</a></li>
                <li><a href="#contact" class="page-scroll">СВЯЗАТЬСЯ С НАМИ</a></li>
            </ul>
        </div>
    </div>
</nav>

<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1><strong th:text="${homeHeaders.getTitle()}"></strong> <span th:text="' - ' + ${homeHeaders.getSubtitle()}" ></span></h1>
                        <p th:text="${homeHeaders.getDescriptions()}"></p>
                        <a href="#portfolio" class="btn btn-custom btn-lg page-scroll">Снять квартиру</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="portfolio">
    <div class="container">
        <div class="section-title text-center center">
            <h2 th:text="'«' + ${homeHeaders.getTitle()} + '» – это недорого!'"></h2>
            <p th:text="${homeHeaders.getPortfolioSubtitle()}"></p>
            <hr>
            <p th:text="${homeHeaders.getPortfolioDescriptions()}"></p>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter=".standard">Стандарт</a></li>
                        <li><a href="#" data-filter=".junior">Полулюкс</a></li>
                        <li><a href="#" data-filter=".luxury">Люкс</a></li>
                        <li><a href="#" data-filter=".apartments">Апартаменты</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row text-center">
            <a class="btn btn-success btn-sm" href="/apartments">Смотреть все квартиры</a>
        </div>
        <div class="row">
            <div class="portfolio-items apartaments">

            </div>
        </div>
    </div>
</div>

<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2 th:text="'О компании «' + ${homeHeaders.getTitle()} + '»'"></h2>
            <hr>
        </div>
        <div class="row" style="margin-bottom: 20px" th:each="element : ${aboutCompany}">
            <div class="col-xs-12 col-md-6 text-center"> <img th:src="${element.getImage()}" class="img-responsive" alt=""></div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h3 th:text="${element.getTitle()}"></h3>
                    <p th:text="${element.getDescriptions()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 section-title">
                <h2>Наши основные преимущества</h2>
                <hr>
                <p th:text="${homeHeaders.getAdvantageDescriptions()}"></p>
            </div>
            <div id="row">
                <div class="col-md-3 col-sm-6 team" th:each="element : ${advantages}">
                    <div class="thumbnail"> <img th:src="${element.getImage()}" alt="..." class="team-img">
                        <div class="caption">
                            <h3 th:text="${element.getTitle()}"></h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: footer"></div>

<script type="text/javascript" src="/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/SmoothScroll.js"></script>
<script type="text/javascript" src="/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/filter.js"></script>

<script type="text/javascript" th:inline="javascript">
    $(document).ready(
        function () {
            apartamentsLoad();
        }
    )

    function apartamentsLoad() {
        let apartaments = [[${apartaments}]];
        for (let i = 0; i < apartaments.length; i++) {
            let apart = apartaments[i];
            let photos = apart.photo.split(";")
            let photo = photos[0].replaceAll("\"", "");
            let type;
            if (apart.housingClass.title === "Стандарт") {
                type = "standard";
            }
            else if (apart.housingClass.title === "Люкс") {
                type = "luxury";
            }
            else if (apart.housingClass.title === "Полулюкс") {
                type = "junior";
            }
            else if (apart.housingClass.title === "Апартаменты") {
                type = "apartments";
            }
            $('.apartaments').append('' +
                '<div class="col-sm-6 col-md-4 col-lg-4 ' + type +' fa-border">\n' +
                '                    <div class="portfolio-item">\n' +
                '                        <div class="hover-bg">\n' +
                '                            <a href="/apartments/' + apart.id + '">\n' +
                '                                <div class="hover-text">\n' +
                '                                    <h4>Посмотреть</h4>\n' +
                '                                </div>\n' +
                '                                <img src="' + photo + '" class="img-responsive">\n' +
                '                            </a>\n' +
                '                        </div>\n' +
                '                        <div class="modal-footer"> ' +
                '                            <div class="row">' +
                '                                <div class="col-sm-6"><b>' +
                '                                   ' + apart.address +
                '                                </b></div>\n' +
                '                                <div class="col-sm-6">' +
                '                                   <a href="/" class="btn btn-danger">Забронировать</a>\n' +
                '                                </div>' +
                '                            </div>' +
                '                        </div>\n' +
                '                    </div>\n' +
                '               </div>');
        }
    }
</script>
</body>
</html>
