<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Квартиры посуточно в Красноярске - ' + ${homeHeaders.getTitle()}"></title>
    <meta content="Квартиры посуточно в Красноярске. Снять квартиру посуточно, не дорого, всегда чистые квартиры, правый берег. Лучшие цены. Положительные отзывы."
          name="description"/>
    <meta content="" name="author"/>

    <link rel="shortcut icon" href="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-21-home@2x.png"
          type="image/x-icon">
    <link rel="apple-touch-icon" href="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-21-home@2x.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-21-home@2x.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://glyphicons.com/img/glyphicons/basic/2x/glyphicons-basic-21-home@2x.png">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/1/fonts/font-awesome/css/font-awesome.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/1/css/style.css">
    <link rel="stylesheet" type="text/css" href="/1/css/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" type="text/css" href="/1/css/nivo-lightbox/default.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!--Анимации-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .badgebox {
            opacity: 0;
        }

        .badgebox + .badge {
            /* Move the check mark away when unchecked */
            text-indent: -999999px;
            /* Makes the badge's width stay the same checked and unchecked */
            width: 27px;
        }

        .badgebox:focus + .badge {
            /* Set something to make the badge looks focused */
            /* This really depends on the application, in my case it was: */

            /* Adding a light border */
            box-shadow: inset 0px 0px 5px;
            /* Taking the difference out of the padding */
        }

        .badgebox:checked + .badge {
            /* Move the check mark back when checked */
            text-indent: 0;
        }
    </style>

    <style>
        .carousel {
            width: 600px;
        }

        /* Indicators list style */
        .article-slide .carousel-indicators {
            bottom: 0;
            left: 0;
            margin-left: 5px;
            width: 100%;
        }

        /* Indicators list style */
        .article-slide .carousel-indicators li {
            border: medium none;
            border-radius: 0;
            float: left;
            height: 54px;
            margin-bottom: 5px;
            margin-left: 0;
            margin-right: 5px !important;
            margin-top: 0;
            width: 100px;
        }

        /* Indicators images style */
        .article-slide .carousel-indicators img {
            border: 2px solid #FFFFFF;
            float: left;
            height: 54px;
            left: 0;
            width: 100px;
        }

        /* Indicators active image style */
        .article-slide .carousel-indicators .active img {
            border: 2px solid #428BCA;
            opacity: 0.7;
        }
    </style>

    <style>
        #myModal.modal-dialog {
            width: 70% !important;
            min-width: 620px;
        }
    </style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" th:text="${homeHeaders.getTitle()}"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#portfolio" class="page-scroll">Снять квартиру</a></li>
                <li><a href="#about" class="page-scroll">О Нас</a></li>
                <li><a href="#services" class="page-scroll">Достопримечательности</a></li>
                <li><a href="#contact" class="page-scroll">Контакты</a></li>
                <li>
                    <button type="button" class="btn btn-success" style="margin-top: 10px;" data-toggle="modal"
                            data-target=".bd-example-modal-sm">Заказать звонок
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header id="header">
    <div class="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="intro-text">
                        <h1><strong th:text="${homeHeaders.getTitle()}"></strong> <span
                                th:text="' - ' + ${homeHeaders.getSubtitle()}"></span></h1>
                        <p th:text="${homeHeaders.getDescriptions()}"></p>
                        <a href="#portfolio" class="btn btn-custom btn-lg page-scroll">Снять квартиру</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="portfolio">
    <div class="container">
        <div class="section-title text-center center">
            <h2 th:text="'«' + ${homeHeaders.getTitle()} + '» – это недорого!'"></h2>
            <p th:text="${homeHeaders.getPortfolioSubtitle()}"></p>
            <hr>
            <p th:text="${homeHeaders.getPortfolioDescriptions()}"></p>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" class="active" data-filter="*">Все квартиры</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items apartaments">

            </div>
        </div>
    </div>
</div>

<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2 th:text="'О компании «' + ${homeHeaders.getTitle()} + '»'"></h2>
            <hr>
        </div>
        <div class="row" style="margin-bottom: 20px" th:each="element : ${aboutCompany}">
            <div class="col-xs-12 col-md-6 text-center"><img th:src="${element.getImage()}" class="img-responsive"
                                                             alt=""></div>
            <div class="col-xs-12 col-md-6">
                <div class="about-text">
                    <h3 th:text="${element.getTitle()}"></h3>
                    <p th:text="${element.getDescriptions()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="team" class="text-center">
    <div class="overlay">
        <div class="container">
            <div class="col-md-8 col-md-offset-2 section-title">
                <h2>Наши основные преимущества</h2>
                <hr>
            </div>
            <div id="row" class="align-content-center">
                <div class="col-md-3 col-sm-6 team" th:each="element : ${advantages}">
                    <div class="thumbnail"><img th:src="${element.getImage()}" alt="..." class="team-img">
                        <div class="caption">
                            <h3 th:text="${element.getTitle()}"></h3>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 section-title text-center">
            <h2>Достопримечательности</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 service" th:each="element : ${attractions}">
                <img th:src="${element.getImage()}" class="img-responsive" alt="Project Title">
                <h3 th:text="${element.getTitle()}"></h3>
                <p th:text="${element.getDescriptions()}"></p>
            </div>
        </div>
    </div>
</div>

<div id="contact">
    <div class="container">
        <div class="section-title text-center">
            <h2>Если у Вас появились вопросы, звоните!</h2>
            <hr>
            <h2><i class="fa fa-phone-square"> </i><a th:href="${homeHeaders.getWhasApp()}"
                                                      th:text="' ' + ${homeHeaders.getPhoneNumber()}"></a></h2>
        </div>
    </div>
</div>

<div id="modalDetails">
    <div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2"
         aria-hidden="true">
        <div id="myModal" class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title mTitlePut"></h4>
                </div>
                <div class="modal-body">
                    <div class="container-sm" style="margin: 25px">
                        <div class="row container-sm">
                            <div class="col">
                            <div class="carousel slide article-slide" id="article-photo-carousel">
                                <div class="carousel-inner cont-slider"></div>
                                <ol class="carousel-indicators"></ol>
                            </div>
                            </div>
                        </div>
                        <div class="row container-sm">
                            <div class="col">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody class="tBodyPut">
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button type="button" class="btn btn-success" style="margin-top: 10px;"
                                        data-toggle="modal" data-target=".bd-example-modal-sm">Забронировать
                                </button>
                            </div>
                            </div>
                        </div>
                        <div class="row container-sm">
                            <div class="col">
                            <div class="descriptionPut"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalCall">
    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Перезвоните мне</h4>
                </div>
                <div class="modal-body">
                    <p>Мы с удовольствием перезвоним вам прямо сейчас, просто скажите номер:</p>
                    <form name="formTest" method="" action="">
                        <div class="form-group">
                            <label>Введите номер телефона</label>
                            <input th:id="phone" type="text" placeholder="Ваш номер телефона" class="form-control"
                                   name="phone" required/>
                        </div>
                        <div class="form-group">
                            <label>Введите имя</label>
                            <input th:id="name" type="text" placeholder="Ваше имя" class="phone form-control"
                                   name="name" required/>
                        </div>
                        <button th:id="snCls" type="button" class="btn btn-secondary" data-dismiss="modal"
                                style="display: none">Close
                        </button>
                        <button th:id="smTg" type="submit" class="btn btn-success">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalInfo">
    <button th:id="smInf" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg"
            style="display: none"></button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Ваша заявка принята!</h4>
                </div>
                <div class="modal-body">
                    <p>В течении 2-х минут с Вами свяжется наш администратор!</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <b>Мы находимся по адресу</b>
                <a><h5 th:text="${homeHeaders.getAddress()}"></h5></a>
            </div>
            <div class="col-sm-4 text-center">
                <a th:href="${homeHeaders.getInstagram()}" target="_blank"><h5>Отзывы</h5></a>
                <!--                            <a href="" data-toggle="modal" data-target="#myModalRules"><h5>Правила проживания</h5></a>-->
            </div>
            <div class="col-sm-4 text-center">
                <b>E-mail адрес</b>
                <a><h5 th:text="${homeHeaders.getEmail()}"></h5></a>
            </div>
        </div>
        <div class="row container text-center">
            <div class="social">
                <ul>
                    <li><a th:href="${homeHeaders.getWhasApp()}" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                    <li><a th:href="${homeHeaders.getTelegram()}" target="_blank"><i class="fa fa-paper-plane"></i></a>
                    </li>
                    <li><a th:href="${homeHeaders.getViber()}" target="_blank"><i class="fa fa-phone-square"></i></a>
                    </li>
                    <li><a th:href="${homeHeaders.getInstagram()}" target="_blank"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/1/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="/1/js/bootstrap.js"></script>
<script type="text/javascript" src="/1/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="/1/js/jquery.isotope.js"></script>
<script type="text/javascript" src="/1/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/1/js/main.js"></script>


<script type="text/javascript" th:inline="javascript">
    $(document).ready(
        function () {
            apartamentsLoad();
            $('form').submit(function (e) {
                e.preventDefault()
                let name = $('#name').val();
                let phone = $('#phone').val();
                let text = "ВНИМАНИЕ НОВАЯ ЗАЯВКА!%0A" +
                    "👤 Клиент: " + name + "%0A" +
                    "📞 Номер телефона: " + phone;

                $.ajax({
                    type: "POST",
                    url: "https://api.telegram.org/bot2037072837:AAExxZDtKuoKS-Ta-uuYtuHEwp1FhogPBBE/sendMessage?chat_id=-547471302&text=" + text,
                    success: function () {
                    }
                });
                $('#snCls').click();
                $('#smInf').click();
                $('body').attr("style", "padding-right: 0px;");
                document.getElementById("name").value = "";
                document.getElementById("phone").value = "";
            });
            $('.apart').click(detailsApart);

        }
    );

    function apartamentsLoad() {
        let apartaments = [[${apartaments}]];
        let apart;
        let photos;
        let photo;
        let type = "all";
        let countStandard = 0;
        let countLuxury = 0;
        let countJunior = 0;

        for (let i = 0; i < apartaments.length; i++) {
            apart = apartaments[i];
            photos = apart.photo.split(";");
            photo = photos[0].replaceAll("\"", "");
            switch (apart.housingClass.title) {
                case "Люкс":
                    // if (countLuxury < 9) {
                    type = "luxury";
                    if (countLuxury < 1) {
                        $('.type').append('<li><a href="#" data-filter=".luxury">Люкс</a></li>\n');
                    }
                    countLuxury++;
                    // } else { continue; }
                    break;
                case "Полулюкс":
                    // if (countJunior < 9) {
                    type = "junior";
                    if (countJunior < 1) {
                        $('.type').append('<li><a href="#" data-filter=".junior">Полулюкс</a></li>\n');
                    }
                    countJunior++;
                    // } else { continue; }
                    break;
                case "Стандарт":
                    // if (countStandard < 9) {
                    type = "standard";
                    if (countStandard < 1) {
                        $('.type').append('<li><a href="#" data-filter=".standard">Стандарт</a></li>\n');
                    }
                    countStandard++;
                    // } else { continue; }
                    break;
                // default :
                //     continue;
            }
            appendApart(type, apart, photo);
        }
    }

    function appendApart(type, apart, photo) {
        $('.apartaments').append('' +
            '<div class="col-sm-6 col-md-4 col-lg-4 ' + type + ' fa-border">\n' +
            '                    <div class="portfolio-item">\n' +
            '                        <div class="hover-bg">\n' +
            '                            <a class="apart" id="' + apart.id + '" data-toggle="modal" data-target=".bd-example-modal-lg2">\n' +
            '                                <div class="hover-text">\n' +
            '                                    <h4>Посмотреть</h4>\n' +
            '                                </div>\n' +
            '                                <img src="' + photo + '" class="img-responsive">\n' +
            '                            </a>\n' +
            '                        </div>\n' +
            '                        <div class="modal-footer"> ' +
            '                            <div class="row">' +
            '                                <div class="col-sm-6">' +
            '                                   <i class="fa fa-location-arrow"> ' + apart.address + '</i><br>' +
            '                                   <b style="color: #0b0d0e">от ' + apart.price + ' рублей/сутки</b>' +
            '                                </div>\n' +
            '                                <div class="col-sm-6">' +
            '                                   <button type="button" class="btn btn-success" style="margin-top: 10px" data-toggle="modal" data-target=".bd-example-modal-sm">Забронировать</button>' +
            // '                                   <button type="button" class="btn btn-success" style="margin-top: 10px;" data-toggle="modal" data-target=".bd-example-modal-sm">Заказать звонок</button>\n' +
            '                                </div>' +
            '                            </div>' +
            '                        </div>\n' +
            '                    </div>\n' +
            '               </div>');
    }

    function detailsApart() {
        let id = $(this).attr('id');
        let homeHeaders = [[${homeHeaders}]];
        let apartments = [[${apartaments}]];
        for (let i = 0; i < apartments.length; i++) {
            let apart = apartments[i];
            if (apart.id == id) {
                let strings = apart.photo.split(";");
                let urls = [];
                for (let i = 0; i < strings.length - 1; i++) {
                    urls[i] = strings[i].replaceAll("\"", "");
                }
                appendImages(urls);
                appendTable(apart, homeHeaders);
                break;
            }
        }
    }

    function appendTable(apart, homeHeaders) {
        let description = $('.descriptionPut');
        let mTitle = $('.mTitlePut');
        let tBody = $('.tBodyPut');

        description.empty();
        mTitle.empty();
        tBody.empty();
        description.append('' +
            '<h3>Описание</h3>\n' +
            '<p>' + apart.description + '</p>')
        mTitle.append(apart.title);
        tBody.append('                                <tr>\n' +
            '                                    <td class="text-left">Район</td>\n' +
            '                                    <td class="text-right"><b>' + apart.district.title + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Тип жилья</td>\n' +
            '                                    <td class="text-right"><b>' + apart.housingType.title + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Класс жилья</td>\n' +
            '                                    <td class="text-right"><b>' + apart.housingClass.title + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Адрес</td>\n' +
            '                                    <td class="text-right"><b>' + apart.address + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Общая площадь</td>\n' +
            '                                    <td class="text-right"><b>' + apart.totalArea + ' кв. м.</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Этаж</td>\n' +
            '                                    <td class="text-right"><b>' + apart.floor + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Кол-во спальный мест</td>\n' +
            '                                    <td class="text-right"><b>' + apart.bedsNumber + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Стоянка</td>\n' +
            '                                    <td class="text-right"><b>' + apart.parking + '</b></td>\n' +
            '                                </tr>\n' +
            '                                <tr>\n' +
            '                                    <td class="text-left">Снузел</td>\n' +
            '                                    <td class="text-right"><b>' + apart.bathroom + '</b></td>\n' +
            '                                </tr>' +
            '                                <tr>\n' +
            '                                   <td class="text-left"><a href="' + homeHeaders.whasApp + '"><h4><i class="fa fa-phone-square"> </i>' + ' ' + homeHeaders.phoneNumber + '</h4></a></td>\n' +
            '                                   <td class="text-right"><h4><b>' + apart.price + ' Р/сут.</b></h4></td>\n' +
            '                                </tr>')
    }

    function appendImages(urls) {
        let carouselinner = $('.carousel-inner');
        let carouselindicators = $('.carousel-indicators');
        carouselinner.empty();
        carouselindicators.empty();
        for (let i = 0; i < urls.length; i++) {
            carouselinner.append('' +
                '<div class="item" id="image' + i + '">\n' +
                '   <img alt="" title="" src="' + urls[i] + '">\n' +
                '</div>');
            carouselindicators.append('' +
                '<li id="indicators' + i + '" class="" data-slide-to="' + i + '" data-target="#article-photo-carousel">\n' +
                '   <img alt="" src="' + urls[i] + '" width="450px">\n' +
                '</li>');
        }
        $('#image0').attr("class", "item active");
        $('#indicators0').attr("class", "active");
    }
</script>
</body>
</html>
